.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

node_modules/
tomcat/war/host-manager/
tomcat/war/manager/
tomcat/war/treasyapi-0.1.0/
tomcat/war/*.war
postgres/data/
*-cache/
